.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.about-text {
  color: white;
  flex: 1;
  padding: 0 20px; /* Adjust left and right padding as needed */
  display: flex;
  justify-content: center; /* Center text horizontally */
  align-items: center;
  text-align: center; /* Center text content */
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  max-height: 80vh; /* Limit image height */
  border-radius: 50%; /* Apply border-radius for rounded corners */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Add shadow for depth */
}
