.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.about-text {
  color: white;
  flex: 1;
  padding: 0 0px;
  flex-direction: column;
  text-align: center;
  padding-top: 40vh;
}

.about-text h1 {
  margin-bottom: 0px;
}

.about-image {
  flex: 1;
  padding: 0 20px;

  text-align: center;
}

.profile-img {
  border-radius: 40%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  width: 60%;
  height: auto;
  transition: box-shadow 0.7s ease;
}

.profile-img:hover {
  box-shadow: 10px 10px 20px rgb(81, 197, 243);
}
