.carousel {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.carousel__list {
  display: flex;
  list-style: none;
  position: relative;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  height: 60vh;

  perspective: 1000px;
}

.carousel__item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0;
  width: calc(15vw * 5 / 5); /* Calculate width based on 5:8 ratio */
  height: 24vw; /* Set height relative to width */
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(50, 50, 50, 0.5);
  position: absolute;
  transition: all 0.3s ease-in;
  overflow: hidden;
}

.carousel__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.carousel__item[data-pos="0"] {
  z-index: 5;
}

.carousel__item[data-pos="-1"],
.carousel__item[data-pos="1"] {
  opacity: 0.7;
  filter: blur(1px) grayscale(10%);
}

.carousel__item[data-pos="-1"] {
  transform: translateX(-25%) scale(0.9);
  z-index: 4;
}

.carousel__item[data-pos="1"] {
  transform: translateX(25%) scale(0.9);
  z-index: 4;
}

.carousel__item[data-pos="-2"],
.carousel__item[data-pos="2"] {
  opacity: 0.4;
  filter: blur(3px) grayscale(20%);
}

.carousel__item[data-pos="-2"] {
  transform: translateX(-50%) scale(0.8);
  z-index: 3;
}

.carousel__item[data-pos="2"] {
  transform: translateX(50%) scale(0.8);
  z-index: 3;
}

.carousel__item[data-pos="-3"],
.carousel__item[data-pos="3"] {
  opacity: 0.2;
  filter: blur(5px) grayscale(30%);
}

.carousel__item[data-pos="-3"] {
  transform: translateX(-75%) scale(0.7);
  z-index: 2;
}

.carousel__item[data-pos="3"] {
  transform: translateX(75%) scale(0.7);
  z-index: 2;
}

.carousel__item[data-pos="-4"],
.carousel__item[data-pos="4"] {
  opacity: 0.1;
  filter: blur(7px) grayscale(40%);
}

.carousel__item[data-pos="-4"] {
  transform: translateX(-100%) scale(0.6);
  z-index: 1;
}

.carousel__item[data-pos="4"] {
  transform: translateX(100%) scale(0.6);
  z-index: 1;
}

/* Media Queries for Different Screen Sizes */
@media (max-width: 1200px) {
  .carousel__item {
    width: calc(22vw * 5 / 5);
    height: 40vw;
  }
}

@media (max-width: 992px) {
  .carousel__item {
    width: calc(22vw * 5 / 5);
    height: 40vw;
  }
}

@media (max-width: 768px) {
  .carousel__item {
    width: calc(22vw * 5 / 5);
    height: 40vw;
  }
}

@media (max-width: 576px) {
  .carousel__item {
    width: calc(22vw * 5 / 5);
    height: 40vw;
  }
}
