/* src/pages/ContactMe.css */
.contact-me-container {
  margin-top: 50px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-me-container h1 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.contact-me-container .form-label {
  color: #555;
}

.contact-me-container .form-control {
  margin-bottom: 10px;
}

.contact-me-container .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  width: 100%;
  padding: 10px;
  font-size: 16px;
}
