.contact {
  margin-top: 5%;
}

.contact-me-container {
  margin-top: 5%;
  padding: 2%;
  background-color: #f5f5f5d5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(44, 223, 255);
}

/* .contact-me-container h1 {
  margin-bottom: 5%;
  text-align: center;
  color: #022c33;
} */

.contact-me-container .form-label {
  color: #022c33;
}

.contact-me-container .form-control {
  margin-bottom: 1%;
}

.contact-me-container .btn-primary {
  background-color: #022c33;
  border-color: #000000;
  border-style: double;
  color: white;
  width: 100%;
  padding: 1%;
  font-size: 1.5rem;
}

.contact-title {
  width: 30%;
  height: 10%;
  background-color: #ffffff;
  transform: skewX(20deg);
  margin-top: 3%;
  margin: 2%;
  margin-left: -5%;
  position: relative;
}

@media (max-width: 600px) {
  .contact-title h1 {
    font-size: large;
  }
}

.contact-title h1 {
  transform: skewX(-20deg);
  margin: 0;
  padding: 4%;
  padding-left: 20%;
  text-align: center;
  color: #002130;
}

.linkedin-title {
  width: 30%;
  height: 10%;
  background-color: #ffffff;
  transform: skewX(-20deg);
  margin-top: 5%;
  margin-left: auto;
  margin-right: -5%;
  position: relative;
}

.linkedin-title h1 {
  transform: skewX(20deg);
  margin: 0;
  text-align: center;
  padding: 4%;
  padding-right: 20%;
  color: #002130;
}

@media (max-width: 600px) {
  .linkedin-title h1 {
    font-size: large;
  }
}
