@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC");

.hobby-container {
  margin-bottom: 15%;
  padding-bottom: 5%;
}

.hobby-title {
  width: 30%; /* Adjust width as needed */
  height: 10%; /* Adjust height as needed */
  background-color: #ffffff; /* Change background color as needed */
  transform: skewX(-20deg);
  margin: 20px;
  margin-left: auto; /* Set margin-left to auto */
  margin-right: -20px; /* Adjust this value based on the skew angle */
  position: relative;
}

.hobby-title::before {
  content: "";
  position: absolute;
  top: 0;
  right: -20px; /* Adjust this value based on the skew angle */
  width: 20px; /* Adjust this value based on the skew angle */
  height: 100%;
  background-color: #ffffff; /* Change background color as needed */
  transform: skewX(-20deg);
}

.hobby-title h1 {
  transform: skewX(20deg);
  margin: 0;
  text-align: center;
  padding: 4% 10%;
  color: #002130; /* Change text color as needed */
}

.movie-section {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center; /* Center content horizontally */
}

.letterbox {
  text-align: center;
  align-self: center;
  justify-content: center;
  color: white;
}

.movie-hover-link {
  color: #ffffff; /* Default color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s; /* Smooth color transition */
}

.movie-hover-link:hover {
  color: rgb(88, 204, 250); /* Color change on hover */
  cursor: pointer; /* Show pointer cursor on hover */
}

.movies {
  display: flex;
  justify-content: center;
}

@media (orientation: landscape) {
  main {
    scale: 0.9;
  }
}
@keyframes move {
  0% {
    transform: rotateY(-20deg) rotateX(-5deg);
  }
  25% {
    transform: rotateY(20deg) rotateX(-5deg);
  }
  50% {
    transform: rotateY(20deg) rotateX(5deg);
  }
  75% {
    transform: rotateY(-20deg) rotateX(5deg);
  }
  100% {
    transform: rotateY(-20deg) rotateX(-5deg);
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  perspective: 1000px;
}
#joker_poster {
  aspect-ratio: 0.6428571429;
  background: center / cover no-repeat url("../Assets/Joker/Joker_bg.png");
  margin-right: 5%;
  width: 25%;
  max-width: 45vmin;
  position: relative;
  animation: move 15s 0s infinite;
  transform-style: preserve-3d;
  border-radius: 5vmin;
}
#joker_poster__header {
  position: absolute;
  top: -15%;
  left: 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  transform: translateZ(15vmin);
  transform-style: preserve-3d;
  -webkit-backdrop-filter: blur(10px);
}
#joker_poster__header__title {
  font-family: "Agency FB Black";
  font-size: 22vmin;
  position: absolute;
  margin: 0;
  line-height: 1em;
  white-space: nowrap;
  background-image: url("../Assets/Joker/Joker_text.png");
  background-size: cover;
  background-position: center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
#joker_poster__header__title::before {
  content: attr(data-title);
  position: absolute;
  color: #ffc61c 5e;
  -webkit-text-fill-color: initial;
  mix-blend-mode: overlay;
  opacity: 1;
  text-shadow: 0px 0px 4vmin rgba(0, 0, 0, 0.4), 1px 1px #bf4528;
}
#joker_poster__front_image {
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 100%;
  height: auto;
  transform: translateZ(15vmin);
  transform-style: preserve-3d;
  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.4));
  border-radius: 6vmin;
}

#joker_poster__front_img {
  display: block; /* Remove any default inline behavior */
  position: absolute;
  bottom: 7%;
  left: 0;
  width: 100%;
  height: auto;
  transform: translateZ(10vmin);
  transform-style: preserve-3d;
  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.4));
  -webkit-backdrop-filter: blur(18px);
  border-radius: 6vmin;
}

#up_poster {
  aspect-ratio: 0.6428571429;
  background: center / cover no-repeat url("../Assets/Up/bg.png");
  margin-right: 5%;
  width: 25%;
  max-width: 45vmin;
  position: relative;
  animation: move 15s 0s infinite;
  transform-style: preserve-3d;
  border-radius: 5vmin;
}
#up_poster__header {
  position: absolute;
  top: -25%;
  left: -10%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  transform: translateZ(1vmin);
  transform-style: preserve-3d;
  -webkit-backdrop-filter: blur(10px);
}
#up_poster__header__title {
  font-family: "Agency FB Black";
  font-size: 22vmin;
  position: absolute;
  margin: 0;
  line-height: 1em;
  white-space: nowrap;
  background-image: url("https://cdn.jsdelivr.net/gh/olivier3lanc/cinematics-resources@master/joker/medias/rust.jpg");
  background-size: cover;
  background-position: center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#old_guy {
  position: absolute;
  bottom: -10%;
  left: 45%;
  width: 60%;
  height: auto;
  transform: translateZ(10vmin);
  transform-style: preserve-3d;
  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.4));
  border-radius: 12vmin;
}

#kid {
  position: absolute;
  bottom: 20%;
  left: 16%;
  width: 50%;
  height: auto;
  transform: translateZ(6vmin);
  transform-style: preserve-3d;
  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.4));
  -webkit-backdrop-filter: blur(18px);
  border-radius: 6vmin;
}

#dog {
  position: absolute;
  bottom: 40%;
  left: 4%;
  width: 30%;
  height: auto;
  transform: translateZ(2vmin);
  transform-style: preserve-3d;
  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.4));
  -webkit-backdrop-filter: blur(18px);
  border-radius: 6vmin;
}

#up {
  position: absolute;
  bottom: 60%;
  left: 30%;
  width: 70%;
  height: auto;
  transform: translateZ(1vmin);
  transform-style: preserve-3d;
  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.4));
  -webkit-backdrop-filter: blur(18px);
  border-radius: 6vmin;
}

#oppenheimer_poster {
  aspect-ratio: 0.6428571429;
  background: center / cover no-repeat url("../Assets/Oppenheimer/bg.png");
  width: 25%;
  max-width: 63vmin;
  position: relative;
  animation: move 15s 0s infinite;
  transform-style: preserve-3d;
  border-radius: 2vmin;
}
#cast {
  position: absolute;
  top: 5%;
  left: -25%;
  width: 150%;
  text-align: center;
  display: flex;
  justify-content: center;
  transform: translateZ(3vmin);
  transform-style: preserve-3d;
  -webkit-backdrop-filter: blur(10px);
}

#specs {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: center;
  transform: translateZ(8vmin);
  transform-style: preserve-3d;
  -webkit-backdrop-filter: blur(10px);
  animation: rotate 16s linear infinite;
}

#specs1 {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 85%;
  text-align: center;
  display: flex;
  justify-content: center;
  transform: translateZ(3vmin);
  transform-style: preserve-3d;
  -webkit-backdrop-filter: blur(10px);
  animation: rotate 18s linear infinite;
}

#specs2 {
  position: absolute;
  top: 15%;
  left: 5%;
  width: 75%;
  text-align: center;
  display: flex;
  justify-content: center;
  transform: translateZ(12vmin);
  transform-style: preserve-3d;
  -webkit-backdrop-filter: blur(10px);
  animation: rotate 25s linear infinite;
}
#specs3 {
  position: absolute;
  top: 0%;
  left: 5%;
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  transform: translateZ(5vmin);
  transform-style: preserve-3d;
  -webkit-backdrop-filter: blur(10px);
  animation: rotate 10s linear infinite;
}
#specs4 {
  position: absolute;
  top: 0%;
  left: 5%;
  width: 60%;
  text-align: center;
  display: flex;
  justify-content: center;
  transform: translateZ(15vmin);
  transform-style: preserve-3d;
  -webkit-backdrop-filter: blur(10px);
  animation: rotate 30s linear infinite;
}
#specs5 {
  position: absolute;
  top: 30%;
  left: 45%;
  width: 40%;
  text-align: center;
  display: flex;
  justify-content: center;
  transform: translateZ(45vmin);
  transform-style: preserve-3d;
  -webkit-backdrop-filter: blur(10px);
  animation: rotate 2s linear infinite;
}

#tom {
  position: absolute;
  bottom: -5%;
  left: 25%;
  width: 70%;
  height: auto;
  transform: translateZ(8vmin);
  transform-style: preserve-3d;
  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.4));
  border-radius: 12vmin;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#chris {
  position: absolute;
  bottom: 35%;
  left: 10%;
  width: 85%;
  height: auto;
  transform: translateZ(6vmin);
  transform-style: preserve-3d;
  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.4));
  -webkit-backdrop-filter: blur(18px);
  border-radius: 6vmin;
}

#oppenheimer {
  position: absolute;
  bottom: 20%;
  left: 10%;
  width: 100%;
  height: auto;
  transform: translateZ(12vmin);
  transform-style: preserve-3d;
  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.4));
  -webkit-backdrop-filter: blur(18px);
  border-radius: 26vmin;
}

.books-section {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.book-shelf {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.goodreads {
  text-align: center;
  align-self: center;
  justify-content: center;
  color: white;
}

.book-hover-link {
  color: #ffffff; /* Default color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s; /* Smooth color transition */
}

.book-hover-link:hover {
  color: rgb(88, 204, 250); /* Color change on hover */
  cursor: pointer; /* Show pointer cursor on hover */
}

.carousel {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.carousel__list {
  display: flex;
  list-style: none;
  align-items: center;
  position: relative;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  height: 60vh;

  perspective: 1000px;
}

.carousel__item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 0;
  width: calc(15vw * 5 / 5); /* Calculate width based on 5:8 ratio */
  height: 24vw; /* Set height relative to width */
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(50, 50, 50, 0.5);
  position: absolute;
  transition: all 0.3s ease-in;
  overflow: hidden;
}

.carousel__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.carousel__item[data-pos="0"] {
  z-index: 5;
}

.carousel__item[data-pos="-1"],
.carousel__item[data-pos="1"] {
  opacity: 0.7;
  filter: blur(1px) grayscale(10%);
}

.carousel__item[data-pos="-1"] {
  transform: translateX(-25%) scale(0.9);
  z-index: 4;
}

.carousel__item[data-pos="1"] {
  transform: translateX(25%) scale(0.9);
  z-index: 4;
}

.carousel__item[data-pos="-2"],
.carousel__item[data-pos="2"] {
  opacity: 0.4;
  filter: blur(3px) grayscale(20%);
}

.carousel__item[data-pos="-2"] {
  transform: translateX(-50%) scale(0.8);
  z-index: 3;
}

.carousel__item[data-pos="2"] {
  transform: translateX(50%) scale(0.8);
  z-index: 3;
}

.carousel__item[data-pos="-3"],
.carousel__item[data-pos="3"] {
  opacity: 0.2;
  filter: blur(5px) grayscale(30%);
}

.carousel__item[data-pos="-3"] {
  transform: translateX(-75%) scale(0.7);
  z-index: 2;
}

.carousel__item[data-pos="3"] {
  transform: translateX(75%) scale(0.7);
  z-index: 2;
}

.carousel__item[data-pos="-4"],
.carousel__item[data-pos="4"] {
  opacity: 0.1;
  filter: blur(7px) grayscale(40%);
}

.carousel__item[data-pos="-4"] {
  transform: translateX(-100%) scale(0.6);
  z-index: 1;
}

.carousel__item[data-pos="4"] {
  transform: translateX(100%) scale(0.6);
  z-index: 1;
}

/* Media Queries for Different Screen Sizes */
@media (max-width: 1200px) {
  .carousel__item {
    width: calc(22vw * 5 / 5);
    height: 40vw;
  }
}

@media (max-width: 992px) {
  .carousel__item {
    width: calc(22vw * 5 / 5);
    height: 40vw;
  }
}

@media (max-width: 768px) {
  .carousel__item {
    width: calc(22vw * 5 / 5);
    height: 40vw;
  }
}

@media (max-width: 576px) {
  .carousel__item {
    width: calc(22vw * 5 / 5);
    height: 40vw;
  }
}

.three-column-layout {
  display: flex;
  justify-content: space-between;
  margin-top: 8%;
}

.hobby-column {
  flex: 1;
  text-align: center;
  color: white;
}
.hobby-column p {
  font-size: 2.5rem;
}
@media (max-width: 1200px) {
  .hobby-column p {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .hobby-column p {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  .hobby-column p {
    font-size: 1.5rem;
  }
}
